.nav {
  ul {
    list-style: none;
    text-align: center;
    background: $secondary;
    overflow: hidden;
    margin: 0;
    padding: 0;

    @include desktop {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    @include tablet {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    li {
      display: inline;

      a {
        display: inline-block;
        padding: 14px 16px;
        text-decoration: none;
        color: $white;
        &:hover {background-color: $secondary-hover;}
      }
    }
  }
}
