  <% wrap_layout :layout do %>
    <div class = "blog-post">
      <div class = "blog-title">
        <%= image_tag "spp_logo_large.png"%>
        <h1><%=current_article.title %></h1>
      </div>
      <article><%= yield %></article>
      <div class = "disqus">
        <%= disqus %>
      </div>
    </div>
  <% end %>
