.bio-container
  .bio
    .about-card
      .about
        %h1
          About Us
        %p
          Smart Private Practice is a community of licensed psychotherapists with decades of experience running our businesses. We have, through trial and error, found best practices and resources for you.
        %p
          <span class = "bold">Anne McSorley</span> is the founder, editor, contributor liaison, and resource curator of SPP. Anne has 25 years of experience in private practice as a licensed psychotherapist and a board certified coach. Her smart private practice enterprise includes business consulting (workbestconsulting.com), clinical supervision, fee-for-service private practice, and executive coaching. Anne’s network includes countless successful and established mental health clinicians. If you are an SPP practitioner and would like to share your ideas in an upcoming edition, contact Anne at info@smartprivatepractice.com.
    .pic
      = image_tag "anne.png"
