.book-container
  .book
    %h1
      10 STEPS TO DEVELOPING A SUCCESSFUL PRIVATE PRACTICE
    %h3 
      If you want more, our e-book is an in-depth look at building a successful private therapy practice!
    .book-button
      %a{href: "#", class: "button"}
        Purchase Now
