#mc_embed_signup
  %form#mc-embedded-subscribe-form.validate{:action => "//workbestcoaching.us9.list-manage.com/subscribe/post?u=265085d34f58fec539b9dadd3&id=89bcc0353b", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
    #mc_embed_signup_scroll
      %h2 Subscribe to our mailing list
      .indicates-required
      .mc-field-group
        %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", :placeholder => "Email"}/
      #mce-responses.clear
        #mce-error-response.response{:style => "display:none"}
        #mce-success-response.response{:style => "display:none"}
      / real people should not fill this in and expect good things - do not remove this or risk form bot signups
      %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
        %input{:name => "b_265085d34f58fec539b9dadd3_89bcc0353b", :tabindex => "-1", :type => "text", :value => ""}/
      .clear
        %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
