.list-container
  .list
    %ul{:class => "fa-ul"}
      %li
        .list-element
          %i.fa-li.fa.fa-check-circle
          Every therapist has the ability to build a profitable and fulfilling private practice.
      %li
        .list-element
          %i.fa-li.fa.fa-check-circle
          It's too common for therapy practices to have trouble getting started...or stall. That's where we come in.
      %li
        .list-element
          %i.fa-li.fa.fa-check-circle
          Our mission is to provide the tools and environment to insure your success.
